.d_profile {
  margin-bottom: 40px;
}

.d_coll .d_profile_img {
  position: relative;
  margin: 0 auto;
}

.d_coll .d_profile_img i {
  color: #ffffff;
  margin: 10px 0 0 -40px;
  float: none;
  display: inline-block;
}

.profile_avatar img,
.profile_name {
  display: flex;
  align-items: center;
}

.d_coll .profile_avatar img,
.d_coll .profile_name {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.profile_name {
  margin-left: 20px;
}

.profile_name {
  margin-left: 20px;
  margin-top: 20px;
  display: block;
  width: 100%;
}

.profile_username {
  color: var(--secondary-color);
}

.profile_username,
.profile_wallet {
  font-size: 16px;
  font-weight: 500;
}

.profile_username {
  display: block;
}

.profile_wallet {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  float: left;
  color: #727272;
}

.de-flex-col .mybtn-main {
  margin: 0px 10px;
}

.mybtn-main {
  text-align: center;
  color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  outline: 0;
  font-weight: 800;
  text-decoration: none;
  padding: 8px 40px;
  font-size: 16px;
  border: none;
  background-image: linear-gradient(75deg, #fc4a1a, #f7b733);
  background-size: 150% !important;
  background-position: left !important;
  transition: 300ms background-position ease-in-out !important;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  outline: none;
}

.mybtn-donated {
  text-align: center;
  color: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  outline: 0;
  font-weight: 1000;
  text-decoration: none;
  padding: 6px 20px;
  font-size: 16px;
  border: none;
  background-image: linear-gradient(75deg, #74f2ce, #7ee8fa);
  background-size: 100% !important;
  background-position: left !important;
  transition: 300ms background-position ease-in-out !important;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  outline: none;
  margin-right: 5px;
  margin-top: 5px;
}

.mybtn-main:hover {
  background-position: right !important;
  color: #fff;
  -webkit-box-shadow: 3px 3px 30px 0px rgba(255, 68, 91, 0.5);
  -moz-box-shadow: 3px 3px 30px 0px rgba(255, 68, 91, 0.5);
  box-shadow: 3px 3px 30px 0px rgba(255, 68, 91, 0.5);
  background-position: right;
}


.nft__item_like {
  position: relative;
  bottom: 22px;
  font-size: 14px;
  color: black;
  float: right;
}

.nft__item {
  position: relative;
  padding: 20px;
  border: solid 1px #ddd;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-bottom: 25px;
  background: #ffffff;
}
