@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Montserrat:300,400,700");

$background-color: #ffffff;

$main-font: "Bitter", serif;
$second-font: "Montserrat", sans-serif;

.detail {
  box-sizing: border-box;
  font-family: $main-font;
  font-size: 16px;
}

@keyframes small {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes big {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

.detail {
  position: relative;
  width: 100vw;
  height: 60vh;
  &:before {
    width: 50%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background: $background-color;
  }
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0 2rem;
  &-logo {
    text-transform: uppercase;
    color: #493330;
  }
  &-nav {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    line-height: 1.2rem;
    i {
      font-size: 1rem;
    }
    div {
      position: relative;
      width: 1.5rem;
      height: 2px;
      background: #493330;
      margin-left: 2rem;
      &:before {
        position: absolute;
        content: "";
        display: block;
        top: -4px;
        right: 0;
        width: 120%;
        height: 2px;
        background: #493330;
      }
      &:after {
        position: absolute;
        content: "";
        display: block;
        bottom: -4px;
        right: 0;
        width: 50%;
        height: 2px;
        background: #493330;
      }
    }
  }
}

.product {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  z-index: 2;
  padding: 0 10rem;
  &-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 52%;
    height: 100%;
    img {
      &:first-child {
        width: 34%;
        height: auto;
        margin-top: 10%;
        transform: translate(0, 0);
        animation-name: small;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        background-color: #f9f9f9;
      }
      &:last-child {
        width: 50%;
        height: atuo;
        animation-name: big;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: reverse;
        background-color: #f9f9f9;
      }
    }
  }
  &-detail {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    text-align: center;
    padding: 0 5%;
  }
  &__title {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  &__title2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #96989b;
  }
  &__price {
    letter-spacing: 2px;
    font-family: $second-font;
    margin-bottom: 2rem;
  }
  &__subtitle {
    font-family: $second-font;
    font-weight: 300;
    font-size: 1 rem;
    color: #2c2c2cc2;
    margin-bottom: 2rem;
    padding: 0 4rem;
  }

  &__button {
    position: relative;
    left: 120%;
    overflow: hidden;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background: #f1ede4;
    display: block;
    width: 8rem;
    height: 2rem;
    font-size: 0.75rem;
    font-family: $second-font;
    color: #513f35;
    transition: 0.32s;
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 2rem;
      transition: 0.32s;
    }
  }
}

.author_list_pp {
  right: 33%;
}

.author_list_info {
  margin-top: 0.3rem;
  font-size: 22px;
  color: black;
}
